body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}

.tooltip-container {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.tooltip-box {
    position: relative;
    padding: 20px 30px;
    background: lightblue;
    border-radius: 8px;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background: #222;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    white-space: nowrap;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.tooltip-box:hover .tooltip {
    opacity: 1;
}