body {
    margin: 0;
    font-family: Arial;
}

article {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    line-height: 1.8;
    letter-spacing: 1px;
    text-align: justify;
}

h1 {
    font-family: Georgia, serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 18px;
}

mark {
    background-color: yellow;
}

strong {
    color: blue;
}

em {
    color: green;
}

p::first-letter {
    font-size: 35px;
    font-weight: bold;
}

p::first-line {
    font-weight: bold;
}