body {
    margin: 0;
    font-family: Arial;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: black;
    color: white;
}

main {
    padding-top: 100px;
    padding-bottom: 70px;
}

section {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.linear {
    background: linear-gradient(to right, blue, purple);
    color: white;
    background-attachment: fixed;
}

.radial {
    background: radial-gradient(circle, yellow, orange, red);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: black;
    color: white;
}