body {
    font-family: Arial;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 50px;
}

.box {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    transition: all 0.4s ease;
}

.rotate:hover {
    transform: rotate(20deg);
}

.scale:hover {
    transform: scale(1.2);
}

.translate:hover {
    transform: translate(20px, -20px);
}

.skew:hover {
    transform: skew(15deg);
}